/* Roboto Fonts */
@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Italic';
  src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

/* Lato Fonts */
@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Italic';
  src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
}

/* Montserrat Fonts */
@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

/* Nunito Fonts */
@font-face {
  font-family: 'Nunito Regular';
  src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito SemiBold';
  src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Bold';
  src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}


/* Poppins Fonts */
@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Italic';
  src: url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

/* Root Variables */
:root {
  --primary-color: #245F73;
  --secondary-color: #733E24;
  --light-color: #F2F0EF;
  --dark-light-color: #BBBDBC;
  --dark-color: #343a40;
  --white-color: #FFFFFFFF;
  --black-color: #000000;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;


  --italic-1: 'Lato Italic', sans-serif;
  --italic-2: 'Poppins Italic', sans-serif;

  --light-1: 'Roboto Light', sans-serif;
  --light-2: 'Lato Light', sans-serif;

  --regular-1: 'Nunito Regular', sans-serif;
  --regular-2: 'Poppins Regular', sans-serif;

  --semibold-1: 'Montserrat SemiBold', sans-serif;
  --semibold-2: 'Nunito SemiBold', sans-serif;
  --semibold-3: 'Poppins SemiBold', sans-serif;

  --bold-1: 'Roboto Bold', sans-serif;
  --bold-2: 'Nunito Bold', sans-serif;
  --bold-3: 'Poppins Bold', sans-serif;
}

/* Global Styles */
body {
  font-family: var(--font-light);
  background-color: var(--light-color);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}



