/* Roboto Fonts */
@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Italic';
  src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

/* Lato Fonts */
@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Italic';
  src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
}

/* Montserrat Fonts */
@font-face {
  font-family: 'Montserrat Medium';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

/* Nunito Fonts */
@font-face {
  font-family: 'Nunito Regular';
  src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Medium';
  src: url('../fonts/Nunito/Nunito-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito SemiBold';
  src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Bold';
  src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Medium Italic';
  src: url('../fonts/Nunito/Nunito-MediumItalic.ttf') format('truetype');
}

/* Oswald Fonts */
@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald SemiBold';
  src: url('../fonts/Oswald/Oswald-SemiBold.ttf') format('truetype');
}

/* Poppins Fonts */
@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Italic';
  src: url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

/* Root Variables */
:root {
  --primary-color: #245F73;
  --secondary-color: #733E24;
  --light-color: #F2F0EF;
  --dark-light-color: #BBBDBC;
  --dark-color: #343a40;
  --white-color: #FFFFFFFF;
  --black-color: #000000;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;


  --roboto-light: 'Roboto Light', sans-serif;
  --lato-light: 'Lato Light', sans-serif;
  --lato-regular: 'Lato Regular', sans-serif;
  --nunito-regular: 'Nunito Regular', sans-serif;
  --poppins-regular: 'Poppins Regular', sans-serif;
  --nunito-medium: 'Nunito Medium', sans-serif;
  --poppins-medium: 'Poppins Medium', sans-serif;
  --montserrat-medium: 'Montserrat Medium', sans-serif;
  --montserrat-semibold: 'Montserrat SemiBold', sans-serif;
  --nunito-semibold: 'Nunito SemiBold', sans-serif;
  --poppins-semibold: 'Poppins SemiBold', sans-serif;
  --oswald-semibold: 'Oswald SemiBold', sans-serif;
  --roboto-bold: 'Roboto Bold', sans-serif;
  --nunito-bold: 'Nunito Bold', sans-serif;
  --poppins-bold: 'Poppins Bold', sans-serif;
  --oswald-bold: 'Oswald Bold', sans-serif;
  --roboto-italic: 'Roboto Italic', sans-serif;
  --lato-italic: 'Lato Italic', sans-serif;
  --poppins-italic: 'Poppins Italic', sans-serif;
}

/* Global Styles */
body {
  font-family: var(--font-light);
  background-color: var(--light-color);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: #fff;
}

/* Footer */
footer {
  background-color: var(--secondary-color);
  color: #fff;
}

/* Carousel */
.slick-carousel img {
  width: 100%;
  height: auto;
}

/* Popup */
.popup-link img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
